executable = /vol/braid1/vol1/dapple/mxxl/mxxlsims/consolidate_condorwrapper.sh
universe = vanilla
Error = JOBDIR/consolidate.CONFIG.stderr
Output = JOBDIR/consolidate.CONFIG.stdout
Log = JOBDIR/consolidate.CONFIG.batch.log
Arguments = mxxl /vol/braid1/vol1/dapple/mxxl/snap41/CONFIG
queue
