executable = /vol/braid1/vol1/dapple/mxxl/mxxlsims/consolidate_condorwrapper.sh
universe = vanilla
Error = JOBDIR/consolidateSNAP.CONFIG.stderr
Output = JOBDIR/consolidateSNAP.CONFIG.stdout
Log = JOBDIR/consolidateSNAP.CONFIG.batch.log
Arguments = /vol/braid1/vol1/dapple/mxxl/mxxlsims bk11snapSNAP /vol/braid1/vol1/dapple/mxxl/snapSNAP/intlength400/CONFIG
queue
