executable = /vol/euclid1/euclid1_raid1/dapple/mxxlsims/rundln_condorwrapper.sh
universe = vanilla
Error = JOBDIR/rundlnSNAP.CONFIG.DELTA.MASSBIN.stderr
Output = JOBDIR/rundlnSNAP.CONFIG.DELTA.MASSBIN.stdout
Log = JOBDIR/rundlnSNAP.CONFIG.DELTA.MASSBIN.batch.log
Arguments = mxxlsnapSNAP CHAINDIR OUTFILE DELTA MASSBIN
priority = 0
queue
